:root {
  --clr-white: #ffffff;
  --clr-black: #202020;
  --clr-blue: #6c63ff;
  --clr-blue-2: #4c46b6;
  --clr-orange: #ff9900;
  --clr-red: #ff3366;
}


/* ------------------------------------------------------ */
/* -- NAVIGATION -- */

nav {
  display: flex;
  /* grid-template-columns: repeat(3, 1fr); */
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #2b2865;
  height: 60px;
}

.nav__brand {
  padding: 15px 5px 5px 25px;
}

.nav__brand h1 {
  color: var(--clr-blue);
  font-size: clamp(1.35em, 4vw, 1.5em);
  font-weight: 800;
}

.nav-install {
  background-color: var(--clr-red);
  color: var(--clr-white);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 250ms ease;
}

.nav-connect {
  /* background-color: var(--clr-orange); */
  color: var(--clr-white);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 250ms ease;
  width: 130px;
}

.nav-connected {
  background-color: var(--clr-blue-2);
  color: var(--clr-white);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 250ms ease;
  width: 130px;
}

.nav__menu {
  width: 100px;
  margin: 5px 15px 5px 0px;
  background-color: var(--clr-blue);
  color: var(--clr-white);
  border: none;
  border-radius: 30px;
  font-family: "Play";
  font-size: 0.8em;
  font-weight: 600;
  cursor: pointer;
  transition: all 250ms ease;
}

.nav-connect:hover {
  background-color: var(--clr-blue);
}

.nav__menu:hover {
  background-color: var(--clr-blue-2);
}

.provider {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
  font-size: 0.8em;
  color: #f81717;
}

#nav-menu {
  display: flex;
  justify-content: space-between;
  width: 30vw;
}

a {
  /* color: white; */
   color: var(--clr-blue); 
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--clr-blue);

}







/* ------------------------------------------------------ */
/* -- FORM -- */
.form {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

form {
  display: flex;
  flex-direction: column;
}

input::file-selector-button {
  background: transparent;
  color: var(--clr-white);
  border: 1px solid var(--clr-blue) !important;
  cursor: help;
  width: 100%;
  padding: 7px;
  cursor: pointer;
  transition: all 250ms ease;
  border-radius: 7px;
}
input::file-selector-button:hover {
  background-position-x: 100%;
  background-color: var(--clr-blue-2);
}

form input[type="text"] {
  min-width: 25vw;
  height: 50px;
  /* margin-top: 6px; */
  padding: 10px 0px 0px 15px;
  border: none;
  border-bottom: 1px solid var(--clr-blue);
  text-transform: capitalize;
  
}

form input[type="text2"] {
  /* min-width: 10vw; */
  height: 50px;
  margin-top: 6px;
  padding: 10px 0px 0px 15px;
  border: none;
  border-bottom: 1px solid var(--clr-blue);
  /* text-transform: capitalize; */
}

form input[type="number"] {
  /* min-width: 50%; */
  height: 48px;
  /* margin-top: 10px; */
  padding: 0px 0px 0px 15px;
  border: none;
  /* border-bottom: 1px solid var(--clr-blue); */
  text-transform: capitalize;
}



/* input + input {
  margin-left: 10px;
} */

form input[type="submit"] {
  background-color: var(--clr-blue);
  color: var(--clr-white);
  width: 120px;
  /* height: 50px; */
  margin: 10px 20px;
  padding: 10px;
  border: none;
  border-radius: 7px;
  font-family: "Play";
  /* font-size: 1.10em; */
  font-weight: 400;
  cursor: pointer;
  transition: all 250ms ease;
}

form input[type="submit"]:hover {
  background-color: var(--clr-blue-2);
}

form input[type="submit"]:disabled {
  background-color: grey;
}

form input[type="checkbox"] {
  width: 25px;
  height: 25px;
}

select {
  padding: 14px;
  border-radius: 4px;
  border: 1px solid var(--clr-blue);
  width: 100%;
  /* margin: 0px 10px 0px 0px; */
  cursor: pointer;
}

select + select {
  margin-left: 10px;
}

.check {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 8px; */
}

.checked {
  background-color: var(--clr-blue);
}

.unchecked {
  background-color: white;
}

.tabs {
  /* padding-top: 10px; */
  display: flex;
  justify-content: flex-start;
  /* max-width: 51vw; */
  max-width: 25vw;

  flex-wrap: nowrap;
  gap: 5px;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title {
  margin: 10px 0px 0px 0px;
  color: #a9a9a9;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
}

.tshade {
  text-shadow: 1px 1px #3a3838;
}

.message {
  margin: 5px 0px 0px 0px;
  color: white;
  /* text-transform: capitalize; */
  display: flex;
  justify-content: center;
}

.heading {
  /* margin: 10px 0px 0px 40px; */
  color: #6c63ff;
  /* text-align: center; */
  font-size: 0.9em;
}


.colourButton {
  background-color: var(--clr-blue);
  color: white;
  height: 30px;
  font-size: 0.8em;
  border: none;
  margin-top: 4px;
}

.activeButton {
  background-color: var(--clr-blue);
  cursor: pointer;
}

.waitingButton {
  background-color: var(--clr-blue-2) !important;
  cursor: help;
}

.inactiveButton {
  background-color: none;
  cursor: help;
}

.disabledButton {
  cursor: not-allowed;
  background-color: none;
  color: gray;
  border: 1px solid gray;
}

button {
  /* width: 15%; */
  /* width: 15%; */
  height: 40px;
  /* margin: 5px 0px 0px 0px;  */
  padding: 5px;
  background-color: white;
  border: 1px solid var(--clr-blue);
  border-radius: 5px;
}

button:hover {
  background-color: var(--clr-blue-2);
  color: white;
  transition: all 250ms ease;
}

 .active-style{
  color: var(--clr-blue);
}




/* ------------------------------------------------------ */
/* -- IMAGE -- */

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  gap: 20px;
  padding: 20px;
}

/* .thumbnails::after {
  content: "";

  flex-basis: 0px;
} */

.thumbnails > .thumbnail {
  flex-basis: 300px;
  position: relative;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 5px;
}

.thumbnails .thumbnail img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
  cursor: pointer;
}

.mainimage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: 350px;
  /* margin-top: 35px; */

}

.mainimage > .image {
  width: 100%;
  position: relative;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 15px;

}

.mainimage .image img {
  object-fit: cover;
  width: 100%;
  height: auto;
  vertical-align: middle;

}

.spinner {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay {
  position: relative;
  text-align: center;
  /* display: flex;
  align-items: start;
  justify-content: center; */
  /* border: 3px solid green; */
}

.overlay > .points {
  position: absolute;
  width: 10%;
  height: 10%;
  top: 0;
  left: 0;
  background: red;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
}

.overlay > .points-modal {
  background: red;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 20px;
  font-size: 1.2em;
}



@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading {
  opacity: 1;
  animation: fade 1s ;
  animation-duration: 3s;
}

@keyframes fade {
  0%,
  80% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}






.drift-left {
  animation: drift-left 50s infinite;
}
@keyframes drift-left {
  0%,100% {
    scale: 0.3;
    transform: rotateX(0.1turn) rotateY(1.5turn);  
  }
  30% {
   scale: 0.97;
   transform: rotateX(0.0turn) rotateY(-0.1turn);
   transform: translate(0, -65px);
  }
}

.drift-center {
  animation: drift-center 60s infinite;
}
@keyframes drift-center {
  0%,100% {
    scale: 0.6;
    
    transform: rotateX(-.10turn) rotateY(-.20turn);
  }
  50% {
   scale: 1;
   transform: rotateX(-10deg) rotateY(10deg); 

  }
}




.drift-right:hover {
  animation: drift-right 1s ease-in-out;
}
@keyframes drift-right {

  100%,0% {
   /* scale: 0.95; */
   /* transform: rotateX(-10deg) rotateY(10deg); */
   transform:  rotateY(180deg);

  }
}


/* ------------------------------------------------------ */

@media screen and (max-width: 835px) {
  .form {
    flex-direction: column;
    align-items: center;
  }

  /* form input[type="text"] {
    max-width: 48%;
  } */
  .tabs {
    max-width: 100vw;
  }
  #nav-menu {
    display: none;
  }
}

@media screen and (min-width: 835px) {
  #mobile-menu {
    display: none;
  }
}



#slider-container article {
  display: grid !important;
  /* width: 20rem !important; */
  margin: 1.5rem auto;
}

.slick-slider .slick-arrow:before {
  color: #333;
  font-size: 2rem;
}

.slick-slider .slick-dots button:before {
  font-size: 1.5rem;
  color: #6c63ff;
}

.slick-slider .slick-dots li.slick-active button::before {
  color: #6c63ff;
}
.slick-slider .slick-dots {
  margin-top: 5px !important;
}

.slick-slider .slick-dots li {
  margin: 0 0.5rem;
  height: 2px !important;
}

ul.slick-dots {
  margin-top: -25px !important;
}